.back {
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/zgradi.jpg);

    width: 100%;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    position: relative;
}

.header {
    color: aliceblue;

    font-size: 30px;
    position: relative;
    width: 100%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    ;

}

.intro {
    font-size: 25px;
    position: relative;
    text-align: center;
    font-family: 'Inter', sans-serif;
    ;
}

.about {
    margin-top: 100px;
    color: white;
}

.order {
    position: relative;
    color: white;
    margin-top: 70px;
    font-size: 20px;
}


li {
    line-height: 30px;
}

/* .projects {

    text-align: right;
    margin-top: -1070px;
    margin-right: 450px;

} */




/* .first {
    text-align: right;
    margin-right: 360px;

} */

#container {


    display: flex;
    align-items: center;

    /* overflow: auto; */
    position: relative;

}

#container img {
    margin-right: 10px;
}

.box {
    position: absolute;
    top: 8%;
    left: 15%;
    right: 7%;
    /* box-sizing: border-box;
    background: #fff; */
    border-radius: 10px;
    display: flex;
}

.box .imgbox {
    width: 100%;
    flex: 0 0 50px;
}

img {
    width: 65%;
    margin-left: 600px;
}

.head {
    margin: 0;
    padding-left: 0;

    margin-left: -550px;
    margin-top: -90px;
    font-size: 30px;
    font-weight: bold;
}

.name {
    margin: 0;
    padding-left: 0;

    margin-left: -640px;
    margin-top: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
}

.work {
    margin-left: 1015px;
    width: 800px;
    margin-top: -1000px;
}

.novi {
    width: 60%;
    object-fit: cover;
    opacity: 95%;
}

.main {
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    /* width: 200vh; */
    margin-left: 380px;
    display: grid;
    grid-template-columns: repeat(auto-fill);
    column-gap: 10px;
    row-gap: 10px;
    text-align: center;


}

.mobileapp {

    margin-left: 610px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
}



.raka {
    width: 60%;
}

.digital {
    margin-left: 650px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
}


.mix {
    width: 60%;
}

.meshavina {
    margin-left: 620px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
}


/* img {
    width: 50%;
    margin-left: 900px;
} */